@import url('https://fonts.googleapis.com/css?family=Lato:wght@100;300;500;600;700display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

html {
    scroll-behavior: smooth;
}

.landing-body {
    margin: 0;
    padding: 0;
    padding-left: 10rem;
    position:relative;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
    background-color: #1d1d1d; 
    -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -ms-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
}

.landing-body h1 {
    color:#3a4151;
    position:absolute;
    right:20px;
    text-transform:uppercase;
    text-align:right;
    font-size:60px;
    font-weight:700;
}

.tag-slide {
    padding-left: 0;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

.flickity-viewport {
    transform: translateX(0);
}

#main {
    transition: transform 1s ease;
}

#main section {
    transform: translateZ(0);
}

p {
    padding: 0;
    margin: 0;
}

/* MENU VERTICAL */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: rgb(0 0 0 / 50%) 0px 8px 15px;
    background-color: #181818;
    -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -ms-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
}

aside .logo {
    width: 100%;
    padding: 10px 0;
    background: #000;
}

aside .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .logo a img {
    width: 75%;
}

aside nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #282828;
}

aside nav a {
    text-align: center;
    width: 100%;
    display: block;
    color: #909096;
    line-height: 2.2rem;
    border-bottom: 1px solid #282828;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s linear 0.1s;
}

aside nav a:hover {
    color: #e89e00;
    transition: color 0.2s linear 0.1s;
}

aside .boton-menu-mobile {
    color: white;
    width: 30px;
    height: 60px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 46.5vh;
    left: 10rem;
    font-weight: 800;
    border-radius: 0 5px 5px 0;
}

aside .boton-menu-mobile i {
    transform: rotate(0deg);
    transition: all 0.35s ease-in;
}

aside .social-media {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding-bottom: 10px;
}

aside .social-media a svg {
    fill: #fff;
}

aside .social-media a:nth-child(2) {
    margin: 0 5px;
}

.tag-slide aside {
    left: -10rem;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

.tag-slide aside .boton-menu-mobile i {
    transform: rotate(180deg);
    transition: all 0.7s ease-out;
}

/* INICIO */
html {
   overflow: hidden;
}

#inicio {
  width: 100%;
  height: 100vh;
  background-color: #232323;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

 #inicio .box {
    width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
 }

#inicio .box .title {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#inicio .box .title .block {
    width: 0%;
    height: inherit;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    display: flex;
}

#inicio .box .title h1 {
    font-family: 'Poppins';
    color: #fff;
    font-size: 60px;
    right: 0;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}

#inicio .box .title span {
    color: #e89e00;
    margin-left: 5px;
}

#inicio .box .role {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: -10px;
}

#inicio .box .role .block {
    width: 0%;
    height: inherit;
    background: #cf8e00;
    position: absolute;
    animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 2s;
    display: flex;
}

#inicio .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: 'Lato';
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/* USER PROFILE */
#sobre-mi {
    display: flex;
    width:100%; 
    height:100vh;
}

#sobre-mi section {
    width: 50%;
}

#sobre-mi .image-portfolio {
    background-image: url('../img/pexels-yogendra-singh-3748221.jpg');
    background-color: #1d1d1d;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre-mi .text-portfolio {
    background-color: #1d1d1d;
    /* background-image: url('../img/pexels-lukas-1420701.jpg'); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre-mi .text-portfolio title {
    display: block;
    color: #515152;
    z-index: 4;
    position: absolute;
    opacity: 0.1;
    font-weight: bold;
    top: -4rem;
    left: 0;
    font-family: 'Poppins';
    font-size: 300px;
}

#sobre-mi .text-portfolio section {
    width: 70%;
    height: auto;
    position: absolute;
    /* left: -10rem; */
    padding: 4rem;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 300;
    line-height: 1.5;
    color: white;
    background-color: #1d1d1d;
    border-top: 6px solid #e89e00;
    border-left: 6px solid #e89e00;
}

#sobre-mi .text-portfolio section:before {
    content: '<section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 25px;
    position: absolute;
    top: -15rem;
    left: -1rem;
}

#sobre-mi .text-portfolio section:after {
    content: '</section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 25px;
    position: absolute;
    bottom: -11rem;
    left: -1rem;
}

#sobre-mi .text-portfolio section h2 {
    position: absolute;
    top: -7rem;
    right: 0;
    margin: 0;
    font-size: 40px;
}

#sobre-mi .text-portfolio section h2:before {
    content: '<h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 20px;
    position: absolute;
    top: -1rem;
    left: -1rem;
}

#sobre-mi .text-portfolio section h2:after {
    content: '</h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 20px;
    position: absolute;
    left: -1rem;
    bottom: -2rem;
}

#sobre-mi .text-portfolio section h2 strong {
    color: #e89e00;
    text-transform: uppercase;
}

#sobre-mi .text-portfolio section p:before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 20px;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

#sobre-mi .text-portfolio section p:after {
    content: '</p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 20px;
    position: absolute;
    left: 2rem;
    bottom: 1.5rem;
}

/* STUDIES */
#trayectoria {
    display: flex;
    gap: 2%;
    width: 100%;
    height: 100vh;
    background-color: #1d1d1d;
}

#trayectoria title {
    display: block;
    color: #515152;
    z-index: 4;
    position: absolute;
    opacity: 0.1;
    font-weight: bold;
    top: 1rem;
    left: 0;
    font-family: 'Poppins';
    font-size: 280px;
    line-height: 230px;
}

#trayectoria > section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

#trayectoria .contenido-experiencia::before {
    content: '<section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 25px;
    position: absolute;
    top: 12rem;
    left: 1rem;
}

#trayectoria .contenido-experiencia::after {
    content: '</section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 25px;
    position: absolute;
    bottom: 11rem;
    left: 1rem;
}

#trayectoria .contenido-experiencia h2 {
    position: relative;
    margin: 0 0 60px 0;
    font-size: 60px;
    line-height: 55px;
    font-family: 'Poppins';
    font-weight: bold;
    color: #cf8e00;
}

#trayectoria .contenido-experiencia h2::before {
    content: '<h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 20px;
    position: absolute;
    top: -2.5rem;
    left: -1rem;
}

#trayectoria .contenido-experiencia h2::after {
    content: '</h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 20px;
    position: absolute;
    left: -1rem;
    bottom: -2.5rem;
}

#trayectoria .contenido-experiencia p {
    position: relative;
    margin: 0;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 300;
    color: #fff;
}

#trayectoria .contenido-experiencia p::before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 20px;
    position: absolute;
    top: -2.5rem;
    left: -1rem;
}

#trayectoria .contenido-experiencia p::after {
    content: '</p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 20px;
    position: absolute;
    left: -1rem;
    bottom: -4rem;
}

/* SLIDER PROJECTS */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)); 
    opacity: .7;
    /* background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));  */
}

.hero-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

.hero-slider .flickity-slider {
    height: 100vh;
}

.hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.hero-slider .carousel-cell .inner {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    opacity: .8; 
}
      
.hero-slider .carousel-cell .inner .subtitle {
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px; 
}

.hero-slider .carousel-cell .inner .title {
    font-family: 'Poppins';
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 40px; 
}
      
.hero-slider .carousel-cell .inner .btn {
    border: 1px solid #fff;
    padding: 14px 18px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 12px;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease; 
}

.hero-slider .carousel-cell .inner .btn:hover {
    border: 1px solid #e89e00;
    background: #e89e00;
    color: #fff; 
}

.hero-slider .flickity-prev-next-button {
    display: none;
}

.hero-slider .flickity-page-dots {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 60px; 
    padding: 0;
}

.hero-slider .flickity-page-dots .dot {
    width: 30px;
    height: 4px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 0 solid white;
    border-radius: 0; 
}

.hero-slider .flickity-page-dots .dot.is-selected {
    background: #e89e00;
    border: 0 solid #e89e00; 
}

.hero-slider .flickity-page-dots .dot::marker {
    color: transparent;
}

@media screen and (max-width: 1300px) {
    #sobre-mi .text-portfolio {
        width: 65%;
    }
    
    #sobre-mi .text-portfolio section {
        position: relative;
        width: 60%;
        padding: 2.5rem;
    }

    #sobre-mi .text-portfolio section p {
        position: relative;
    }

    #sobre-mi .text-portfolio section p::before {
        top: -2rem;
        left: -1rem;
    }

    #sobre-mi .text-portfolio section p::after {
        left: -1rem;
        bottom: -3.5rem;
    }

    .hero-slider .carousel-cell {
        background-size: contain;
    }
}

@media screen and (max-width: 991px) {
    .landing-body {
        padding-left: 0;
    }

    #inicio video {
        display: none;
    }

    #sobre-mi {
        flex-wrap: wrap;
    }
    
    #sobre-mi section {
        width: 100%;
    }

    #sobre-mi .image-portfolio {
        height: 45vh;
    }

    #sobre-mi .text-portfolio {
        width: 100%;
        height: 55vh;
    }

    #sobre-mi .text-portfolio title {
        font-size: 200px;
        top: -2rem;
    }

    #sobre-mi .text-portfolio section {
        top: 3vh;
        padding: 3rem;
        font-size: 16px;
    }

    #sobre-mi .text-portfolio section:after {
        bottom: -4rem;
    }

    #sobre-mi .text-portfolio section:before {
        top: -9rem;
    }

    #sobre-mi .text-portfolio section h2 {
        font-size: 35px;
        top: -6rem;
    }

    #sobre-mi .text-portfolio section p {
        font-size: 14px;
    }

    #trayectoria {
        flex-wrap: wrap;
        gap: 0;
    }

    #trayectoria title {
        font-size: 140px;
        line-height: 130px;
    }

    #trayectoria > section {
        width: 100%;
        height: 50vh;
        padding: 0 60px;
    }

    #trayectoria .contenido-experiencia::before {
        top: 1rem;
    }

    #trayectoria .contenido-experiencia::after {
        bottom: 1rem;
    }

    #trayectoria .contenido-experiencia h2 {
        font-size: 35px;
        line-height: 30px;
    }

    #trayectoria .contenido-experiencia p {
        font-size: 14px;
    }
    
    #trayectoria .contenido-experiencia p::before {
        top: -2rem;
    }

    #trayectoria .contenido-experiencia p::after {
        bottom: -2rem;
    }
}

@media screen and (max-width: 576px) {
    #inicio .box .title h1 {
        font-size: 40px;
    }

    #sobre-mi .text-portfolio {
        padding: 0 20px;
    }

    #sobre-mi .text-portfolio section {
        width: 80%;
    }

    #sobre-mi .text-portfolio section:before {
        top: -8rem;
        font-size: 18px;
    }

    #sobre-mi .text-portfolio section:after {
        bottom: -2.5rem;
        font-size: 18px;
    }

    #sobre-mi .text-portfolio section h2 {
        font-size: 20px;
        top: -5rem;
    }

    #sobre-mi .text-portfolio section h2:before {
        top: -1.5rem;
        font-size: 16px;
    }

    #sobre-mi .text-portfolio section h2:after {
        bottom: -2rem;
        font-size: 16px;
    }

    #sobre-mi .text-portfolio section {
        top: 5vh;
        padding: 2.5rem 2rem;
    }

    #sobre-mi .text-portfolio section p {
        font-size: 11px;
    }

    #sobre-mi .text-portfolio section p:before {
        font-size: 18px;
    }

    #sobre-mi .text-portfolio section p:after {
        bottom: -2rem;
        font-size: 18px;
    }

    #sobre-mi .text-portfolio title {
        font-size: 100px;
        top: -2rem;
    }

    #trayectoria title {
        font-size: 60px;
        line-height: 50px;
    }

    #trayectoria > section {
        padding: 0 45px;
    }

    #trayectoria .contenido-experiencia::before {
        font-size: 18px;
    }

    #trayectoria .contenido-experiencia::after {
        font-size: 18px;
    }
    
    #trayectoria .contenido-experiencia h2 {
        margin: 0 0 55px 0;
        font-size: 20px;
        line-height: 15px;
    }

    #trayectoria .contenido-experiencia h2::before {
        top: -1.5rem;
        font-size: 16px;
    }

    #trayectoria .contenido-experiencia h2::after {
        bottom: -1.5rem;
        font-size: 16px;
    }

    #trayectoria .contenido-experiencia p {
        font-size: 11px;
    }

    #trayectoria .contenido-experiencia p::before {
        top: -2rem;
        font-size: 18px;
    }

    #trayectoria .contenido-experiencia p::after {
        bottom: -2rem;
        font-size: 18px;
    }

    .hero-slider {
        margin-left: auto;
    }
    
    .hero-slider .carousel-cell .inner .subtitle {
        font-size: 1.2rem;
    }

    .hero-slider .carousel-cell .inner .title {
        font-size: 1.5rem;
    }

    .hero-slider .carousel-cell .inner .btn {
        font-size: 0.4rem;
    }
}

@media screen and (max-width: 375px) {
    #sobre-mi .text-portfolio section:before {
        top: -7rem;
    }

    #sobre-mi .text-portfolio section:after {
        bottom: -2rem;
    }

    #sobre-mi .text-portfolio section h2 {
        top: -4.5rem;
    }
}